.table {
    width: 800px;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 25px;
}

.headtittle {
    background-color: #302f2f;
    color: white;
}

.tittle {
    padding: 10px;
    border: 1px solid black;         
    width: 33.33%;
    /* Зробимо ширину кожного заголовка однаковою */
}

